@charset "utf-8";
/* CSS Document */


*{margin:0px; padding:0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html{ width:100%; height:100%; margin:0px; padding:0px;}
body{ margin:0px; padding:0px; font-family: Arial, Helvetica, sans-serif; font-size:24px; color:#151515; line-height:42px; background:#fff; min-height:100%; overflow-x: hidden;}
p{ margin:0px; padding:0px 0 20px 0; font-family: Arial, Helvetica, sans-serif; font-size:24px; color:#151515; line-height:42px; }
h1{ margin: 0px; padding: 0px;  }
h2{ margin: 0px; padding: 0px;  }
h3{ margin: 0px; padding: 0px;  }
h4{ margin: 0px; padding: 0px;  }
h5{ margin: 0px; padding: 0px;  }
h6{ margin: 0px; padding: 0px;  }

address, blockquote, dd, div, dl, dt, fieldset, form, frame, frameset{ margin:0; padding:0; border: 0px; outline: none; }
label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0px; padding:0; outline:none; border:0;}
a{ text-decoration:none; border: 0px; outline: none; transition: all .5s;}
a:hover, a:focus, a:active{ text-decoration:none; border: 0px; outline: none; transition: all .5s;}

a img{ border:none; outline: none;}
a:focus {outline:none; } 
border{ border-collapse:collapse;}
hr{ height:1px; background:#333333; border:none;}
.clear{ clear:both;}
.left{ float:left;}
.right{ float:right;}
.clearfix:before,
.clearfix:after { content: " "; display: table;}
.clearfix:after { clear: both;}
.clearfix { *zoom: 1;}
img { max-width: 100%; height: auto;}
@media \0screen {img { width: auto }}

::-moz-selection { color: #fff; background: #00b374;}
::selection {  color: #fff; background: #00b374;}
.slider_one{margin:0 auto; text-align: center;   position: relative; width: 718px; height: 635px; }
.sldrcrcl{border:  1px solid #ddd; width:300px; height:300px; border-radius: 50%; margin: 0 auto; display: flex;  align-items: center; justify-content:center; position: absolute;  left:14px; right:0; margin:0 auto; top: 148px; }
.text{ font-family: 'MYRIADPROBOLD'; font-size: 20px; display: inline-block;   line-height: 32px; color:#1d03fc;}
.slider_one ul {position: absolute;
    /* top: 200px; */
    /* left: 200px; */
    list-style-type: none;
    padding: 0;
    width: 400px;
    height: 400px;
    left: 330px;
    right: 0;
    margin: 0 auto;
    top: 270px;}
.slider_one li { position: absolute;-webkit-transition: all 2s linear;-moz-transition: all 2s linear; transition: all 2s linear; cursor:pointer;}
.text{display: none;  }
.dot{width:20px; height:20px; background:#2001ff; border-radius:50%; position: absolute; left:0; right:0;  top: -9px; margin: 0 auto; display:none; }
.dot2{  transform: rotate(377deg) translate(87px); }
.dot3{  transform:rotate(392deg) translate(158px); }
.dot4{  transform: rotate(403deg) translate(251px); left: -69px; }
.dot5{  transform: rotate(421deg) translate(293px); left: -73px; }
.dot6{  transform: rotate(435deg) translate(352px);left: -127px; top: -55px; }
.dot7{ transform: rotate(450deg) translate(385px);left: -127px; top: -112px; }
.dot8{  transform: rotate(461deg) translate(331px); left: -127px; top: -112px;  }
.dot9{ transform: rotate(467deg) translate(281px);left: -127px; top: -112px; }
.dot10{  transform: rotate(465deg) translate(149px); left: -156px; top: -99px; }
.dot11{ transform: rotate(441deg) translate(101px);left: -156px; top: -99px; }

@media only screen and (max-width: 767px) {
a:hover, a:focus, a:active{ text-decoration:none; border: 0px; outline: none; -webkit-transition-property: none;
-moz-transition-property: none;
-o-transition-property: none;
transition-property: none;}	
}





